* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* main container */
.container {
  max-width: 1050px;
  background-color: #9c9c9c;
  border: 1px solid #868686;
  margin: 40px auto;
  border-radius: 10px;
}

/* input container */
.input-container{
  max-width: 380px;
  margin: 50px auto;
}
.input-container input[type='text'] {
  height: 41px;
  width: 70%;
}

/* data container */
#data-container {
  overflow: auto;
}
.item {
  position: relative;
  height: 50px;
  border: 1px solid #868686;
  border-radius: 5px;
  background-color: #e0e0e0;
  box-shadow: 5px 5px 2px;
  margin: 10px 8px;
}
.item .task-text {
  float: left;
  height: 100%;
  width: 70%;
}
.item .task-text span {
  display: inline-block;
  padding: 15px 0 0 30px;
}
.item .task-text input {
    margin-top: 5px;
    margin-left: 40px;
    padding: 10px;
    width: 50%;
}
.actions {
  position: absolute;
  right: 10px;
  top: 3px;
}
.actions ul {
  list-style: none;
}
.actions ul li {
  float: left;
  margin-left: 10px;
}

/* utility classes */
.btn {
  border: none;
  background-color: #0878a4;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover {
  background-color: #044862;
}

/* animation */
@keyframes itemDisappearing {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}
.removeAnimation {
  animation: itemDisappearing 1s forwards ease-in-out;
}